var/
app/config/parameters.yml
build/
phpunit.xml
.phpunit
.php_cs.cache
web/phpinfo.php
packages.json
package.tar
.idea
var/cache/*
!var/cache/.gitkeep
var/logs/*
!var/logs/.gitkeep
composer.phar
var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
vendor/
web/bundles/

/app/config/parameters.yml
/build/
/phpunit.xml
/.phpunit
.php_cs.cache
/web/phpinfo.php
/packages.json
/package.tar
/.idea
/var/cache/*
!/var/cache/.gitkeep
/var/logs/*
!/var/logs/.gitkeep
/composer.phar
/var/sessions/*
!/var/sessions/.gitkeep
!/var/SymfonyRequirements.php
/vendor/
/web/bundles/






