app/config/parameters.yml
.php_cs.cache
web/phpinfo.php
packages.json
package.tar
.idea
!/var/cache/.gitkeep
!/var/logs/.gitkeep
composer.phar
!/var/sessions/.gitkeep
!/var/SymfonyRequirements.php
var/
vendor/
web/bundles/
web/app_dev.php
.vagrant/*
app/bootstrap.php.cache
ubuntu-bionic-18.04-cloudimg-console.log

# build
!build.xml
!phpunit.xml
!app/phpmd.xml
app/build/*
